
	<h1><%= @project.name %></h1>
	<ul>
		<% @entries.each do |entry| %>
			<li><%= entry.hours%>h <%= entry.minutes%>m - <%= entry.date%>
			<%= link_to('Edit', edit_project_entry_path(@project.id,entry.id)) %>
			<%= link_to('Delete',project_entry_path(@project.id,entry.id),method: 'delete', data:{confirm: 'Are you sure?'}) %></li>

		<% end %>
	</ul>
	<p>Total hours worked this month: <%= @total_hours %></p>

<%= link_to('Go back to projects', projects_path)%>
<%= link_to('Create new entry', new_project_entry_path(@project.id))%>